@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1, h2, h3, h4, h5, h6, p, main, header, footer, nav, ul, li, a, span{
      font-family: "Geist", sans-serif !important;
}

ul{
    list-style: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Geist", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.mantine-SegmentedControl-innerLabel{
    color: #ffa94d;
}

.ai-text {
  background: linear-gradient(
    90deg,
    #0A84FF,   /* blue */
    #8E44AD,   /* purple */
    #E84393,   /* pink */
    #FF3B30,   /* red */
    #FF9500    /* orange */
  );
  transition: all 0.3s ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}